$height: 46px;

.select {
  width: 320px;
  position: relative;
  z-index: 100;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(2, 2, 2, 0.3);
    border-radius: 100px;
  }

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }

    .select__backdrop {
      display: block;
    }
  }

  &__input {
    font-size: 1.9rem;
    background-color: #efefef;
    color: #000;
    height: $height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: $height;
    left: 0;
    right: 0;
    font-size: 1.7rem;
    max-height: 130px;
    background-color: #6868b4;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: -1;
    background: transparent;
  }

  &__item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: 0.1s background-color ease-in;

    &.selected {
      background-color: #4a4ab4;
    }

    &:hover {
      background-color: #6969ff;
      cursor: pointer;
    }
  }
}
