.select {
  width: 320px;
  position: relative;
  z-index: 100;
}

.select ::-webkit-scrollbar {
  width: 8px;
}

.select ::-webkit-scrollbar-thumb {
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: 100px;
}

.select.open .select__dropdown {
  display: block;
}

.select.open .select__input {
  border-bottom: none;
}

.select.open .select__backdrop {
  display: block;
}

.select__input {
  font-size: 1.9rem;
  background-color: #efefef;
  color: #000;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.select__dropdown {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  font-size: 1.7rem;
  max-height: 130px;
  background-color: #6868b4;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.select__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.select__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: -1;
  background: transparent;
}

.select__item {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  -webkit-transition: 0.1s background-color ease-in;
  transition: 0.1s background-color ease-in;
}

.select__item.selected {
  background-color: #4a4ab4;
}

.select__item:hover {
  background-color: #6969ff;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */