* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12121f;
  color: #eee;
}

.calendar {
  width: 55rem;
  height: 62rem;
  display: flex;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month-wrapper {
  width: 100%;
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 3rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.month p {
  font-size: 1.8rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  width: calc(55rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  cursor: pointer;
}

.days li {
  font-size: 2rem;
  margin: 0.3rem;
  width: calc(50.3rem / 7);
  height: 6.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days li:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
}

.week-numbers {
  display: flex;
  flex-direction: column;
  margin-top: 175px;
  margin-bottom: 15px;
}

.week-numbers li {
  font-size: 2rem;
  margin: 0.3rem;
  margin-left: 1rem;
  width: 15rem;
  height: 6.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.week-numbers li:hover:not(.today) {
  background-color: #08081f;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.current-week {
  background-color: #167e56;
}

.today {
  background-color: #167e56;
}

/* Modal Window */
.dayModal {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 650px;
  text-align: center;
  color: #fff;
  background-color: #6868b4;
  transition: top 0.3s ease;
  z-index: 1000;
  overflow-x: auto;
}

.dayModal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;
}

.dayModal.open {
  top: 50%;
}

.close {
  position: absolute;
  top: 35px;
  right: 30px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  top: 0px;
  left: 15px;
  content: '';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.dayModal h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 2rem 0 1rem;
}

.dayModal h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.add-task {
  display: flex;
  margin-bottom: 20px;
}

.task-name {
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  background-color: #efefef;
  border: none;
  opacity: 0.7;
}

.task-btn {
  width: 200px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.tasks {
  list-style: none;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  font-weight: 100;
}

.tasks li > div {
  display: flex;
}

.time-spent {
  opacity: 0;
  margin-left: 20px;
  transition: opacity 0.2s linear;
}

.tasks .task__right {
  display: flex;
}

.tasks .task__right .category,
.tasks .task__right .interval {
  margin-right: 15px;
  cursor: pointer;
}

.tasks input {
  display: none;
}

.tasks input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.tasks input:checked + label:before {
  content: '✅';
}

.buttons i {
  padding: 5px;
  cursor: pointer;
}

/* Percentage Bar*/
.progress-bar {
  width: 30px;
  height: var(--heightBar);
  position: absolute;
  top: -100%;
  right: 230px;
  border-radius: 40px;
  overflow: hidden;
  transition: top 0.3s ease;
}

.progress {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
}

.progress-bar-bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.timelapse {
  height: var(--heightWhiteBar);
  transition: height 0.7s cubic-bezier(0.86, 0.05, 0.4, 0.96);
}

.progress-bar {
  --heightWhiteBar: 0px;
  --heightBar: 650px;
}

/* timer modal window */
.timerModal {
  position: fixed;
  top: 377px;
  left: -100%;
  /* left: 13%; */
  transform: translate(-50%, -50%);
  width: 200px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #6875ff;
  transition: top 0.3s ease;
  z-index: 1000;
  overflow-x: auto;
  transition: left 0.4s cubic-bezier(0.86, 0.05, 0.4, 0.96);
}

.time-options {
  display: flex;
  flex-direction: column;
}

.actions-btns {
  display: flex;
}

.time-options button,
.actions-btns button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: inherit;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: 'Inconsolata', monospace;
}

.actions-btns button {
  width: 100%;
}

.time-options input {
  padding: 10px;
  font-size: inherit;
}

.input-time input {
  width: 100%;
}

.task-info {
  font-size: 3rem;
  margin-bottom: 50px;
}

.display {
  padding: 10px;
  margin-bottom: 100px;
}

.display__time-left {
  position: relative;
  margin-bottom: 70px;
}

.display__time-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 60px;
  border: 2px solid #fff;
  border-radius: 200px;
}

.display__end-time {
  height: 20px;
}
